.container {
    margin: 5vw 5vh;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-margin {
    margin: 10px;
}

.title {
    color: white;
    position: relative;
    top: 50px;
    left: 30px
}